# Build artifacts
data/**

# Run OUTPUTS
experiments/*/

# Safety net ignore (if CHRONOS_ARTIFACTS_ROOT is ever pointed inside the repo)
/artifacts/

# compile files
__pycache__/
*.egg-info/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.vscode