# Build artifacts
data/**

# Model artifacts
experiments/*/**
!experiments/*/*.yaml
!experiments/*/run_summary.json


# compile files
__pycache__/
*.egg-info/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.vscode